@import 'tailwindcss';

@theme {
  --color-primary: #22a998;
  --color-text: #141b1f;
  --color-text-foreground: #fff;
  --color-background: #fcfdfd;
  --color-border: hsl(0 0% 89.8%);
  --color-foreground: hsl(0 0% 3.9%);
  --color-muted-foreground: hsl(0 0% 45.1%);
  --color-muted: hsl(0 0% 96.1%);
  --color-muted-primary: #eafaf9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
}
